$Background = #2e2e2e
$Comments = #797979
$White = #d6d6d6
$Yellow = #e5b567
$Green = #b4d273
$Orange = #e87d3e
$Purple = #9e86c8
$Pink = #b05279
$Blue = #6c99bb
$color-background = #0D1117
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #161B22
$color-scrollbar = $Purple
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = #58A6FF
$color-text = #C9D1D9
$color-accent-3 = #58A6FF
$color-accent-2 =  #C9D1D9
$color-accent-1 = #C9D1D9
$color-quote = $White
$highlight = hexo-config("highlight") || "rainbow"
