$Background = #2e2e2e
$Comments = #797979
$White = #d6d6d6
$Yellow = #e5b567
$Green = #b4d273
$Orange = #e87d3e
$Purple = #9e86c8
$Pink = #b05279
$Blue = #6c99bb
$color-background = $Background
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = $Green
$color-scrollbar = $Purple
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = $Blue
$color-text = $White
$color-accent-3 = $Purple
$color-accent-2 =  $Pink
$color-accent-1 = $Yellow
$color-quote = $White
$highlight = hexo-config("highlight") || "rainbow"
